<% if @user_or_book == "1" %>
  <h1>Users search for "<%= params[:search] %>"</h1>
  <table class="table">
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag user, :profile_image, :fill, 30, 30, format: 'jpeg', fallback: "no_image.jpg" %></td>
        <td><%= user.name %></td>
        <td><%= link_to "Show", user_path(user), method: :get %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

<% elsif @user_or_book == "2" %>
  <h1>Books search for "<%= params[:search] %>"</h1>
  <table class="table">
    <thead>
      <tr>
        <th colspan="1"></th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
    </thead>
    <tbody>
    <% @books.each do |book| %>
    <thead>
      <tr>
        <td>
          <%= link_to user_path(book.id) do %>
            <%= attachment_image_tag book.user, :profile_image, :fill, 30, 30, format: 'jpeg', fallback: "no_image.jpg", size:'30x30' %>
          <% end %>
        </td>
        <td>
          <%= link_to book_path(book.id) do %>
            <%= book.title %>
          <% end %>
        </td>
        <td>
          <%= book.body %>
        </td>
      </tr>
    </thead>
    <% end %>
    </tbody>
  </table>
<% else %>
<% end %>