<h1>User info</h1>
<div class="profile-container">
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %><br>
  <h3>name <%= @user.name %></h3><br>
  <h3>introduction <%=@user.introduction %></h3><br>
    <p>
      <%= link_to edit_user_path(@user), method: :get do %>
        <i class="fas fa-user-cog"></i>
      <% end %>
    </p>
</div>

<h1>New book</h1>
<%= form_with model: @book, local:true do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>

<h1>Books</h1>
  <p>Title</p>
  <p>Opinion</p>
  <% @books.each do |book| %>
    <%= link_to user_path(book.user_id) do %>
      <%= attachment_image_tag book.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
    <% end %>
    <%= link_to book_path(book.id) do %>
      <p><%= book.title %></p>
    <% end %>
      <p><%= book.body %></p>
  <% end %>